@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.3rem;
  /* Kaydırma çubuğunun genişliği */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* Kaydırma çubuğunun renk tonu */
  border-radius: 1rem;
  /* Kaydırma çubuğunun kenarlarını yuvarlat */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb;
  /* Kaydırma çubuğunun iz kısmı */
  border-radius: 1rem;
}